* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background: #fff;
}

/* Hide nav */
nav {
  display: none;
}

/* Style header and triggers */
header {
  background: dodgerblue;
  color: ghostwhite;
  height: 80px;
  position: relative;
  overflow: hidden;
  z-index: 50;
}

#js-triggers {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
}

#js-triggers a {
  color: ghostwhite;
  text-decoration: none;
  display: block;
  padding: .5rem .75rem;
  border-radius: 4px;
  transition: background .3s;
}

#js-triggers a:hover {
  background: grey;
}

/* Adjust text on site */
main {
  padding: 1rem;
  height: calc(100% - 80px);
  overflow-y: auto;
  background: #f6f6f6;
}

h1 {
  margin-bottom: 1.5rem;
  text-align: center;
}

p,
blockquote {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

/* Create the modal display */
.modal-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms ease;
  z-index: 100;
}

.modal-panel.active {
  opacity: 1;
  pointer-events: auto;
}

/* Modal content pane style */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.8);
  background: white;
  min-width: 400px;
  width: 60%;
  max-width: 600px;
  padding: 2rem;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: transform 500ms ease, opacity 500ms ease;
  text-align: center;
}

.modal-panel.active .modal-content {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

/* Create menus (drop down and side tray) */
#menu {
  background: dodgerblue;
  z-index: 40;
}

/* Drop down menu styling */
#menu.drop-down {
  position: absolute;
  top: 80px;
  left: 50%;
  width: calc(100% - 2rem);
  max-width: 400px;
  transform: translateX(-50%) translateY(-100%);
  pointer-events: none;
  transition: transform 500ms ease;
}

#menu.drop-down.active {
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}

/* Side tray menu styling */
#menu.side-tray {
  position: fixed;
  top: 80px;
  left: 0;
  width: 210px;
  height: 18%;
  transform: translateX(-100%);
  pointer-events: auto;
  opacity: 1;
  transition: transform 500ms ease;
  z-index: 40;
}

#menu.side-tray.active {
  transform: translateX(0);
}

/* Menu text */
#menu ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0;
  padding: 1rem;
}

@media (max-width: 735px) {
  #menu ul {
    flex-direction: column;
    align-items: flex-start;
  }
}

#menu ul li a {
  display: inline-block;
  background: goldenrod;
  padding: .5rem 1rem;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: background .3s;
  width: 180px;
}

#menu ul li a:hover {
  background: darkgoldenrod;
}
